Repository tomschr/dbcookbook, pull requests merged in 2018-06, with the labels that each got.

#36 Added new section about graphics on title pages.
  en/xml/dbc-fo.xml
  en/xml/fo/topic.graphic-titlepage.xml
Labels: PDF :printer:, enhancement :octocat:

#39 Fix #38: Control the Chunking process
  en/xml/dbc-html.xml
  en/xml/html/topic.chunking.xml
Labels: HTML :globe_with_meridians:

#41 Fix #40: Add <?dbhtml?> for chunking
  en/xml/dbc-html.xml
  en/xml/html/topic.chunking-pi.xml
Labels: HTML :globe_with_meridians:, enhancement :octocat:
